<html>
<head>
<title>Minggo.co.id</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="js/js-image-slider.css" rel="stylesheet" type="text/css" />
<script src="js/js-image-slider.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bitter:400,700">
<link href="generic.css" rel="stylesheet" type="text/css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="stylesheet" media="screen" href="calendar.css"  />
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
    $(document).ready(function() {
    $("#datepicker2").datepicker();
  });
  </script>
  <link href="select2.css" rel="stylesheet"/>
    <script src="jquery-1.8.0.min.js"></script>
    <script src="select2.js"></script>
    <script>
        $(document).ready(function() {
            $("#states").select2();   
        });
    </script>
</head>
<body>
<div class="konten">
<div class="Menu">
<ul id="pilihan">
<li id="log"><img src="ing/lokec.PNG" style="width:28px"></li>
<a href=""><li id="home">HOME</li></a>
<a href=""><li id="shop">SHOP</li></a>
<a href=""><li id="land">MINGGO LAND</li></a>
<a href=""><li id="about">ABOUT US</li></a>
</ul>
</div>

<div class="tengah">

<div class="banner_back">
<div class="slider2">
 <div id="sliderFrame">
        <div id="slider">
